:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #161616;
    --fronte-principal: 'Poppins', sans-serif;
}
@keyframes animacao__rodape {
    0% {background-color: var(--cor-primaria);}
    50% {background-color: #181818;}
    100% {background-color: var(--cor-primaria);}
}

*{
    margin: 0 ;
    padding:0;
    font-family: var(--fronte-principal);
}
body {
    box-sizing: border-box;
    background: linear-gradient(180deg, #000000 0%, #1a3131 100%);
    color: var(--cor-secundaria);
}
.cabecalho{
    display: flex;
    gap: 380px;
    padding: 1% 0% 1% 10%;
    margin-bottom: 5px;
    background-color: var(--cor-primaria);  
    width: auto;
    animation-name: animacao__cabecalho;
    animation-duration: 6s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
    padding: 15px , 25px, 15px, 25px;
}
.cabecalho__menu__link{   
    font-family: var(--fronte-principal);
    color: var(--cor-terciaria);
    text-decoration: none;
    border : 2px solid var(--cor-primaria);
    border-radius:30px;   
    padding: 25px;
    transition-duration: 860ms;
    font-weight: bold;  
    animation-name: animacao__cabecalho;
    animation-duration: 6s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;

}
.cabecalho__menu__link:hover{   
    border : 2px solid #272727;
    background-color: #111111;
    color: #f6f6f6; 
    box-shadow: 0 0 50px 20px rgba(2, 140, 167, 0.25); 
    transition: 860ms; 
    font-size: 1.2rem;   
    font-weight: inherit; 
}

.cabecalho__menu__foto{
    padding: 1px, 0px, 1px, 0px;
    height: 70px;
    width: 70px;
    border: 0.01px solid var(--cor-terciaria);
}

.apresentacao{
    margin:3% 3% 5% 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.imagem{
    width: 35%;
    padding-top: 0%;
    margin-bottom: 32%;
}
img{
    border-radius: 10px;
    border: solid 1px var(--cor-terciaria);
}
.apresentacao__skills{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentacao__conteudo__skills{
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.apresentacao__icones__skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 150px;
    flex-wrap: wrap;
}
.icones__individuais{
    border-color: #000000;
    border-radius: 8px;
    width: 37.5px;
}
.apresentacao__conteudo__titulo{
    justify-content: center;
    font-size: 2rem;
}
.titulo-destaque{
    color : var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
   
    font-size: 1rem;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap : 15px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fronte-principal);
    font-size: 1,75rem;
    
}
.apresentacao__links__link{
    /* background-color: rgb(28, 185, 238); */
    display: flex;
    justify-content: center;
    gap: 14px;
    border : 2px solid var(--cor-terciaria);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 21.5px 0; 
    color : var(--cor-terciaria);
    transition-duration: 915ms ;
}
.imgLink{
    width: 20px;
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    transition: 915ms;
    box-shadow: 0 0 50px 20px rgba(4, 77, 92, 0.5); 
    
}
.rodape{
    padding-top: 22px;
    margin-top: 5%;
    color: var(--cor-terciaria);
    background: linear-gradient(180deg, #1a3131 0%, #000000 100%);
    text-align: center;
    font-family: var(--fronte-principal);
    font-size: 1rem; 
    width: auto;
    animation-name: animacao__rodape;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite; 
}
.imagemPerfil{
    width: 350px;
}
 .iconesSkills{
    width: 30px;
} 

@media (max-width: 1200px ) {
    .cabecalho{
        padding: 6%;
      }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao { 
    flex-direction: column-reverse;
    padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}

@media (max-width: 768px) {
    .cabecalho {
      gap: 20px;
      padding: 3% 0;
    }
    .apresentacao {
      flex-direction: column;
      gap: 20px;
      margin: 3% 2%;
    }
  }
  
    
